address {
	font-style: normal;
}

a {
	color: $dark-gray;
}

a:hover {
	text-decoration: none;
}

abbr {
	font-variant: small-caps;

	&[title] {
		border-bottom: 1px dotted $gray;
		cursor: help;
	}
}

blockquote {
	border: 0;
	border-left: 3px solid $green;
	font-style: italic;
	margin: 0;
	padding: 0;
	padding-left: 30px;
	text-align: justify;
}

blockquote,
figure {
	font-size: 1.3em;
	font-family: Georgia;
	position: relative;

	small,
	figcaption,
	cite {
		color: $gray;
		display: block;
		font-size: .7em;
		font-style: normal;
		font-weight: normal;
		text-align: right;

		&:before {
			content: '\2014 \00A0';
		}
	}
}

body {
	background-color: $white;
	color: $dark-gray;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	word-wrap: break-word;
}

code {
	word-wrap: break-word;
}

figure {
	margin: 0;
	padding: 0;

	blockquote {
		border: none;
		padding: 0;
		margin: 0;
		text-align: center;
		font-size: 1.1em;
	}
}

ins {
	background: $yellow;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Lato, sans-serif;
	font-weight: normal;
}

hr {
	display: block;
	width: 100px;
	margin: 40px auto !important;
	border: 0;
	border-top: 1px solid $light-gray;
	text-align: center;
}

pre {
	background-color: $light-gray;
	display: block;
	padding: 50px;
	white-space: pre-wrap;
	word-wrap: break-word;
}
