body {
  background-color: $white;
  color: $dark-gray;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  word-wrap: break-word;
}

figure {
  margin: 0;
  padding: 0;

  > small,
  > cite,
  > figcaption {
    color: $gray;
    display: block;
    font-size: .7em;
    font-style: normal;
    font-weight: normal;
    margin-right: -3em;
    text-align: right;
  }

  > small:before,
  > cite:before,
  > figcaption:before {
    content: '\2014 \00A0';
  }
}

address {
  display: inline;
  font-style: normal;
}

a {
  color: $dark-gray;
}

a:hover {
  text-decoration: none;
}

abbr {
  font-variant: small-caps;

  &[title] {
    border-bottom: 1px dotted $gray;
    cursor: help;
  }
}

blockquote {
  border: 0;
  border-left: 3px solid #f5f5f5;
  font-size: 1.3em;
  font-style: italic;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  text-align: justify;

  small,
  cite {
    color: $gray;
    display: block;
    font-size: .7em;
    font-style: normal;
    font-weight: normal;
    text-align: right;

    &:before {
      content: '\2014 \00A0';
    }
  }
}

pre {
  background-color: #f5f5f5;
  display: block;
  padding: 3em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  word-wrap: break-word;
}

ins {
  background: $yellow;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}
