.wp-block-preformatted {
	background-color: inherit;
	color: inherit;
	border: 1px solid $lighter-gray;
}

.wp-block-preformatted {
	background-color: inherit;
	color: inherit;
	border: 1px solid $lighter-gray;
}

.wp-block-columns .aligncenter {
	width: auto;
	display: block;
}

.wp-block-button.aligncenter {
	display: block;
	width: auto;
}
