article.comment {
  display: block;
  padding: 25px 0;
  position: relative;
}

#comments {
  input {
    display: block;
  }

  input[type="checkbox"] {
    display: inline;
  }
}

#respond {
  .form-allowed-tags {
    clear: both;
    width: 98%;

    code {
      display: block;
    }
  }
}

.form-allowed-tags {
  display: none;
}

#reply-title {
  padding-top: 0;
  margin-top: 0;
}

a.comment-reply-link {
  font-size: .9em;

  &:before {
    content: '\f412';
    font-family: 'Genericons';
    padding-right: 5px;
  }
}

li.comment {
  list-style: none outside none;
  margin: 10px 0;

  cite {
    font-style: normal;
    font-weight: normal;
  }

  img.avatar {
    float: right;
  }
}

.comment-meta,
.comment-notes,
.logged-in-as {
  color: $gray;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
}

.comment-author,
.reply {
  font-family: "Open Sans", sans-serif;
}

.comment-meta a,
.comment-reply-link {
  color: $gray;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ol.commentlist {
  margin: 0;
  padding: 0;
}

.comment-content {
  font-size: 1.3em;
}

.webmention,
.pingback,
.trackback {
  .comment-content {
    font-size: .9em;
  }
}

.commentlist .odd article { }

.bypostauthor {
  color: inherit;
}

.comment-respond {
  padding: 25px 0;
}
