input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {
	border: none;
	border-bottom: 2px solid $gray;
	padding: .5em 1em;
	background-color: $light-gray;

	&:focus {
		outline: 0;
	}
}

input[type="search"] {
	border: 1px solid $light-gray;
	border-radius: 2em;
	padding: .5em 1em;

	&:focus {
		outline: 0;
	}
}

button,
input[type="submit"] {
	padding: .5em 1em;
	border: none;
	background-color: $dark-gray;
	color: $white;

	&:hover {
		background-color: $gray;
	}
}
