// Alignment
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.2em;
	margin-top: .3em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.2em;
	margin-top: .3em;
}

.aligncenter,
.alignnone,
.alignfull,
.alignwide,
.wp-post-image {
	clear: both;
	margin: 1em auto;
	text-align: center;
	width: auto;
	max-width: 100%;
	height: auto;
}

.aligncenter {
	width: $default-width;
}

img.aligncenter,
img.alignnone,
img.alignfull,
img.alignwide,
img.wp-post-image {
	display: block;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.gallery {
	padding: 1em 0;

	@include clearfix;
}

.entry-content {
	img,
	figure,
	object,
	embed,
	iframe,
	audio,
	video {
		max-width: 100%;
	}

	img,
	video,
	audio {
		height: auto;
	}
}

.wp-audio-shortcode {
	margin: 1em auto;
}

.wp-embedded-content {
	width: 100%;
}

.gallery {
	margin: 0 auto 18px;
}

.gallery .gallery-item {
	float: left;
	margin: 10px 0;
	text-align: center;
	width: 33%;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery img {
	border-radius: 5px;
}

.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}

.wp-caption-text {
	margin-top: .5em;
}
