@mixin clearfix {
	// Clearfix: contain floats
	//
	// For modern browsers
	// 1. The space content is one way to avoid an Opera bug when the
	//		`contenteditable` attribute is included anywhere else in the document.
	//		Otherwise it causes space to appear at the top and bottom of elements
	//		that receive the `clearfix` class.
	// 2. The use of `table` rather than `block` is only necessary if using
	//		`:before` to contain the top-margins of child elements.

	&:before,
	&:after {
		content: ' '; // 1
		display: table; // 2
	}

	&:after {
		clear: both;
	}
}

@mixin label {
	a {
		font-size: 1em;
		font-family: Lato, sans-serif;
		background-color: lighten($light-gray, 5%);
		border-radius: 3px;
		color: $dark-gray;
		line-height: 1;
		padding: 5px 8px;
		text-decoration: none;

		&:hover {
			background-color: $light-green;
			color: $dark-green;
		}
	}
}

@mixin meta-text {
	font-family: Lato, sans-serif;
	clear: both;
	color: #9a9a9a;
	display: block;

	a {
		color: #9a9a9a;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.avatar {
		float: left;
		margin-right: 10px;
	}
}
