#access {
  display: block;
  margin: 0 auto;
  background-color: $dark-gray;
  z-index: 3;

  ul {
    margin: 0;
    padding-left: 0px;
    list-style: none outside none;
    z-index: 4;

    ul {
      display: none;
    }
  }

  li {
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 6px;
    margin-top: 6px;
  }

  a, a:visited {
    background-image: none;
    border: 1px solid transparent;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  a:hover,
  .current_page_item a {
    color: #ebebeb;
  }
}

#content nav {
  clear: both;
  overflow: hidden;

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

#nav-above {
  display: none;
}

#nav-below {
  display: block;
  margin-bottom: 160px;
}
