.site-header {
	display: block;
	position: relative;
	width: 100%;

	.site-branding {
		margin: 0 auto;
		width: $wide-width;

		@include clearfix;
	}

	#site-title {
		margin: 20px 0 20px 0;
		padding: 0;
		display: inline-block;
		font-size: 2.7em;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.site-banner {
		background-color: $blue;
		width: 100%;
		min-height: 400px;

		#site-description {
			padding-top: 300px;
			padding-bottom: 100px;
			display: block;
			margin: 0 auto;
			vertical-align: bottom;
			text-align: left;
			color: $white;
			font-size: 2em;
			font-weigth: bold;
		}
	}

	.search-form {
		display: inline-block;
		margin: 35px 0 20px 0;
		padding: 0;
		float: right;
	}
}

#primary {
	display: block;
	margin: 0 auto;
	width: $wide-width;
}

.page-header {
	clear: both;
	font-size: 1.5em;
	font-weight: 100;
	position: relative;
	margin: 0 auto;
	width: $default-width;

	h1.page-title {
		hyphens: auto;
		text-overflow: ellipsis;
		overflow: hidden;
		text-decoration: none;
	}

	.tag-archive-meta,
	.category-archive-meta {

	}

	.avatar {
		margin: 0 5px;
	}
}

#colophon {
	width: 100%;
	background-color: $light-gray;
	margin-top: 100px;

	@include clearfix;
}

#site-generator {
	clear: both;
	padding: 50px 0;
	text-align: center;
	background-color: $white;
}

.screen-reader-text,
.assistive-text {
	clip: rect(1px 1px 1px 1px);
	// IE6, IE7
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

// 404 page
.error404 {
	.widget {
		float: left;
		width: 33%;

		.widgettitle,
		ul {
			margin-right: 1em;
		}
	}

	.widget_tag_cloud {
		clear: both;
		float: none;
		width: 100%;
	}
}

// Notices
.post .notice,
.error404 #searchform {
	background: $light-gray;
	display: block;
	padding: 1em;
}

.avatar {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.edit-link {
	float: right;

	@include label;
}
