#sidebar {
  background-color: $gray;
  display: block;
  padding: 0 auto;
  position: relative;
}

#content {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 800px;
}

#branding {
  font-weight: 400;
  text-align: center;
  background-color: $blue;
  margin-bottom: 50px;

  #site-title, #site-title a {
    color: $dark-gray;
    font-size: 2em;
    font-weight: 400;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    width: 1024px;
    padding-top: 100px;
  }

  #site-title a:hover {
    color: $dark-gray;
  }

  #site-description {
    font-weight: 400;
    margin: 0 auto;
    padding: 0;
    width: 1024px;
    padding-bottom: 100px;
  }
}

.page-header {
  clear: both;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 50px;
  position: relative;

  h1.page-title {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
  }
}

#sidebar {
  font-size: 1.2em;
  margin-top: 50px;
  overflow: hidden;

  .widget-area {
    width: 40%;
  }

  #secondary {
    float: left;
  }

  #tertiary {
    float: right;
  }
}

#colophon {
  clear: both;
  margin: 50px 0;
  text-align: center;
}

.screen-reader-text,
.assistive-text {
  clip: rect(1px 1px 1px 1px);
  // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

// 404 page
.error404 .widget {
  float: left;
  width: 33%;
}

.error404 .widget .widgettitle,
.error404 .widget ul {
  margin-right: 1em;
}

.error404 .widget_tag_cloud {
  clear: both;
  float: none;
  width: 100%;
}

// Notices
.post .notice,
.error404 #searchform {
  background: #eee;
  display: block;
  padding: 1em;
}

.avatar {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
