.site-header {
	display: block;
	position: relative;
	width: 100%;
	border-bottom: 1px solid $border-gray;

	.site-branding {
		margin: 0 auto;
		width: $default-width;

		@include clearfix;
	}

	.custom-logo {
		margin-top: 17px;
		margin-right: 5px;
		vertical-align: top;
	}

	#site-title {
		margin: 15px 0 15px 0;
		padding: 0;
		display: inline-block;
		font-size: 1.5em;
		font-family: Lato;
		font-weight: bold;
		line-height: 1.5;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.page-banner {
		width: 100%;
		border-top: 1px solid $border-gray;

		a {
			color: $white;
		}

		.page-branding {
			width: 100%;
			margin: 50px 0;
		}

		.page-branding.author {
			text-align: center;

			.avatar {
				display: block;
				margin: 0 auto;
				padding: 12.5px 0;
			}

			#page-title, #page-description, #page-meta {
				text-align: center;
			}

			#page-title {
				font-size: 3em;
				padding: 12.5px 0;
			}

			#page-description {
				padding: 12.5px 0;
			}

			#page-meta {
				font-size: 1em;
				margin: 0 auto;
			}
		}

		#page-title, #page-description, #page-meta {
			display: block;
			margin: 0 auto;
			text-align: left;
			color: $white;
			font-size: 1.5em;
			width: $wide-width;
		}

		#page-title {
			font-size: 2em;
			font-weight: bold;
		}
	}

	.search-form {
		display: inline-block;
		margin: 15px 0 15px 0;
		padding: 0;
		float: right;
	}
}

.custom-header {
	.page-banner {
		width: 100%;
		position: relative;
		height: 75vh;
		max-height: 75%;
		min-height: 500px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		#page-title, #page-description {
			color: $white;
		}

		.page-branding {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		}
	}
}

#primary {
	width: 100%;
	display: block;
	margin: 0 auto;
}

#colophon {
	width: 100%;
	background-color: $background-gray;
	margin-top: 100px;

	@include clearfix;
}

#site-generator {
	clear: both;
	padding: 50px 0;
	text-align: center;
	background-color: $white;
}

.screen-reader-text,
.assistive-text {
	clip: rect(1px 1px 1px 1px);
	// IE6, IE7
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

// 404 page
.error404 .entry-content {
	.widget {
		float: left;
		width: 33%;

		.widgettitle,
		ul {
			margin-right: 1em;
		}
	}

	.widget_tag_cloud {
		clear: both;
		float: none;
		width: 100%;
	}
}

// Notices
.post .notice,
.error404 #searchform {
	background: $light-gray;
	display: block;
	padding: 1em;
}

.avatar {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
