.single,
.page {
	#primary .post,
	#primary .page {
		.comments-link {
			display: none;
		}
	}
}

#primary .post,
#primary .page {
	padding: 80px 0;
	position: relative;

	@include clearfix;

	.sep {
		display: none;
	}

	.entry-header {
		.entry-title {
			margin: 0;
			padding: 0;
			font-weight: normal;

			a {
				hyphens: auto;
				text-overflow: ellipsis;
				overflow: hidden;
				font-size: 1.5em;
				line-height: 1;
				text-decoration: none;
				font-weight: normal;
				color: $dark-gray;

				&:hover {
					color: $dark-gray;
				}
			}
		}
	}

	&.format-quote .post-format:before {
		content: '\f106';
	}

	&.format-aside .post-format:before {
		content: '\f101';
	}

	&.format-video .post-format:before {
		content: '\f104';
	}

	&.format-audio .post-format:before {
		content: '\f109';
	}

	&.format-image .post-format:before,
	&.format-photo .post-format:before {
		content: '\f102';
	}

	&.format-gallery .post-format:before {
		content: '\f103';
	}

	&.format-link .post-format:before {
		content: '\f107';
	}

	&.format-status .post-format:before {
		content: '\f105';
	}

	.entry-content,
	.entry-summary {
		color: $dark-gray;
		font-size: 1.2em;
		font-style: normal;
		line-height: 2;
	}

	.page-link,
	.page-links {
		margin-bottom: 1em;
	}

	.wp-caption-text {
		margin-top: .5em;
	}

	.entry-meta {
		position: relative;

		margin-top: 15px;
		margin-bottom: 15px;

		.post-format a,
		.post-format:before {
			color: $gray;
			font-weight: bold;
			text-transform: uppercase;
		}

		.post-format:before {
			display: inline-block;
			font: normal 1.1em 'Genericons';
			-webkit-font-smoothing: antialiased;
			margin-right: 0;
			position: relative;
			text-decoration: inherit;
			top: 2px;
			vertical-align: text-middle;
		}

		address {
			font-size: 1em;
			line-height: 1.2;
		}

		time {
			font-size: .7em;
		}
	}

	.entry-meta,
	.wp-caption-text,
	.gallery-caption,
	.page-link,
	.page-links {
		font-family: Lato, sans-serif;
		clear: both;
		color: $gray;
		display: block;

		a {
			color: $gray;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

		.avatar {
			float: left;
			margin-right: 10px;
		}
	}

	.entry-footer {
		margin-top: 30px;
	}

	.comments-link {
		font-size: 1.2em;
		display: block;
		margin-top: 30px;

		&:before {
			display: inline-block;
			font: normal 1.1em 'Genericons';
			-webkit-font-smoothing: antialiased;
			margin-right: 0;
			position: relative;
			text-decoration: inherit;
			top: 2px;
			vertical-align: text-middle;
			margin-right: 6px;
			content: '\f300';
		}
	}

	.tag-links,
	.cat-links {
		display: inline-block;

		ul {
			margin: 0;
			padding: 0;
			display: inline-block;
		}

		li {
			display: inline-block;
			margin: 15px 8px 0 0;
			list-style-type: none;

			@include label;
		}
	}
}
