

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
  margin-top: 0.3em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
  margin-top: 0.3em;
}
.aligncenter, .alignnone {
  clear: both;
  display: block;
  margin: 1em 0;
}