.single,
.page {
	#primary .post,
	#primary .page {
		.comments-link {
			display: none;
		}

		&.has-full-width-featured-image {
			margin-top: 0px;
		}
	}
}

.has-full-width-featured-image {
	.entry-header {
		margin: 0;
		width: 100%;
		max-width: 100%;
		position: relative;
		height: 75vh;
		max-height: 75%;
		min-height: 500px;
		margin-bottom: 50px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		.entry-title, .entry-meta, .entry-format {
			color: $white;

			a {
				color: $white;
			}
		}

		.entry-meta.post-format .entry-format::before {
			color: $white;
		}

		.entry-header-wrapper {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			margin-bottom: 50px;
		}

		.entry-header-wrapper > * {
			margin: 0 auto;
			width: $default-width;
		}

		.entry-header-wrapper .entry-meta {
			margin-top: 15px;
		}

		.avatar {
			border: 2px solid $white;
		}
	}
}

#primary .post:first-child,
#primary .page:first-child {
	margin-top: 50px;
}

.home,
.archive {
	#primary .post,
	#primary .page {
		&:after {
			content: "";
			border-top: 1px solid $border-gray;
			width: 200px;
			display: block;
			text-align: center;
			margin: 0 auto;
			margin-top: 100px;
		}
	}
}

h1.entry-title,
h2.entry-title,
h3.entry-title,
h4.entry-title {
	margin: 0;
	padding: 0;
	font-size: 3.5em;
	line-height: 1.2em;

	a {
		hyphens: auto;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 1em;
		line-height: 1;
		text-decoration: none;
		color: $dark-gray;

		&:hover {
			text-decoration: underline;
		}
	}
}

.entry-content,
.entry-summary {
	color: $dark-gray;
	font-style: normal;
	line-height: 2;
	font-size: 1.1em;
	margin: 0 auto;

	.wp-block-cover-image,
	.alignfull {
		max-width: 100%;
		width: 100%;
	}

	.alignwide {
		width: auto;
		max-width: $wide-width;
	}

	p.has-background {
		width: 100%;
		max-width: 100%;
		padding: 30px calc( ( 100% - 700px ) / 2 );
		margin: 0;
	}
}

.page-link,
.page-links {
	margin-bottom: 1em;
}

.entry-meta,
.wp-caption-text,
.gallery-caption,
.page-link,
.page-links {
	font-family: Lato, sans-serif;
	clear: both;
	color: $gray;
	display: block;

	a {
		color: $gray;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.avatar {
		float: left;
		margin-right: 10px;
	}
}

.entry-meta {
	position: relative;

	margin-top: 15px;
	margin-bottom: 15px;

	&.post-format {
		padding: 0;
		margin: 0;
	}

	&.post-format a,
	&.post-format span,
	&.post-format .entry-format:before {
		color: $lighter-gray;
		font-weight: bold;
		text-transform: lowercase;
	}

	&.post-format .entry-format:before {
		display: inline-block;
		font: normal 1.1em 'Dashicons';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		isolation: isolate;
		margin-right: 5px;
		position: relative;
		text-decoration: inherit;
		top: 2px;
		vertical-align: text-middle;
		color: $lighter-gray;
	}

	.entry-format {
		line-height: 1;
	}

	address {
		font-size: 1em;
		line-height: 1.2;
		color: $dark-gray;
	}

	time {
		font-size: .8em;
	}
}

.entry-footer {
	@include clearfix;

	margin-top: 30px;

	.author {
		padding: 50px 0;
		margin: 70px 0;
		border-top: 1px solid $border-gray;
		border-bottom: 1px solid $border-gray;
		font-family: 'Merriweather', serif;
		line-height: 1.5;
		min-height: 100px;

		.fn, .note, .subscribe {
			margin-left: 140px;
			display: block;
		}

		.fn {
			font-size: 1.3em;
			margin-bottom: 10px;
		}

		.note {
			font-size: .9em;
			margin-bottom: 10px;
			color: $gray;
		}

		.subscribe {
			font-size: .8em;
			color: $light-gray;
			vertical-align: bottom;
		}
	}
}

.comments-link {
	font-size: 1.2em;
	display: block;

	&:before {
		display: inline-block;
		font: normal 1.1em 'Dashicons';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		margin-right: 0;
		position: relative;
		text-decoration: inherit;
		top: 2px;
		vertical-align: text-middle;
		margin-right: 5px;
		content: "\f101";
	}
}

.tag-links,
.cat-links {
	margin: 50px 0;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		margin: 15px 8px 0 0;
		list-style-type: none;
		font-size: 1.2em;

		@include label;
	}
}

#primary .post,
#primary .page {
	padding: 0;
	margin-top: 100px;
	position: relative;

	@include clearfix;

	.sep {
		display: none;
	}

	&.format-quote .post-format .entry-format:before {
		content: "\f122";
	}

	&.format-aside .post-format .entry-format:before {
		content: "\f123";
	}

	&.format-video .post-format .entry-format:before {
		content: "\f126";
	}

	&.format-audio .post-format .entry-format:before {
		content: "\f127";
	}

	&.format-image .post-format .entry-format:before,
	&.format-photo .post-format .entry-format:before {
		content: "\f128";
	}

	&.format-gallery .post-format .entry-format:before {
		content: "\f161";
	}

	&.format-link .post-format .entry-format:before {
		content: "\f103";
	}

	&.format-status .post-format .entry-format:before {
		content: "\f130";
	}

	&.format-standard .post-format .entry-format:before {
		content: "\f123";
	}
}

.edit-link {
	position: absolute;
	right: 0;
	top: 50px;

	@include label;
}

.more-link {
	display: block;
	font-size: .8em;
	color: $gray;
}

.has-orioles-orange-background-color {
	background-color: $orioles-orange;
}

.has-orioles-orange-color {
	color: $orioles-orange;
}

.has-usc-gold-background-color {
	background-color: $usc-gold;
}

.has-usc-gold-color {
	color: $usc-gold;
}

.has-gargoyle-gas-background-color {
	background-color: $gargoyle-gas;
}

.has-gargoyle-gas-color {
	color: $gargoyle-gas;
}

.has-yellow-background-color {
	background-color: $yellow;
}

.has-yellow-color {
	color: $yellow;
}

.has-android-green-background-color {
	background-color: $android-green;
}

.has-android-green-color {
	color: $android-green;
}

.has-white-background-color {
	background-color: $white;
}

.has-white-color {
	color: $white;
}

.has-very-light-gray-background-color {
	background-color: $very-light-gray;
}

.has-very-light-gray-color {
	color: $very-light-gray;
}

.has-very-dark-gray-background-color {
	background-color: $very-dark-gray;
}

.has-very-dark-gray-color {
	color: $very-dark-gray;
}

.sticky {
	color: inherit;
	/** nothing special */
}
