#content {
  margin: 0 auto;
  width: 90%;
}

#branding {
  #site-title,
  #site-description {
    width: 90%;
  }
}

.entry-content {
  iframe,
  object,
  embed {
    max-width: 100%;
  }
}

blockquote,
pre {
  margin: 30px 0;
}

figure {
  blockquote {
    margin: 0;
    padding: 0;
    text-align: justify;
  }

  > small,
  > cite,
  > figcaption {
    margin-right: 0;
  }
}

// Resize images to fit the main content area.
// - Applies only to images uploaded via WordPress by targeting size-* classes.
// - Other images will be left alone. Use "size-auto" class to apply to other images.
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img,
.wp-caption,
.post img,
.page img {
  height: auto; // Override height to match resized width for correct aspect ratio.
  max-width: 100%; // When images are too wide for containing element, force them to fit.
}
