html {
	font-size: 1em;
}

#primary,
#sidebar,
.site-header .site-branding,
.site-header .page-banner #page-description,
.site-header .page-banner #page-title,
.site-navigation {
	width: 90%;
}

.site-header {
	.page-branding {
		font-size: .8em;
	}

	.search-field {
		width: 150px;
	}
}

.page-header {
	width: 100%;
}

#primary .post,
#primary .page {
	padding: 40px 0;
}

#nav-below {
	.nav-previous {
		bottom: 20px;
		z-index: 1;
	}

	.nav-next {
		bottom: 20px;
		z-index: 1;
	}
}
