html {
	font-size: 1em;
}

#primary,
#sidebar,
.site-header .site-branding,
.site-header .site-banner #page-description,
.site-header .site-banner #page-title,
.site-navigation {
	width: 90%;
}

.page-header {
	width: 100%;
}

#primary .post,
#primary .page {
	padding: 40px 0;
}
