#sidebar {
	font-family: Lato, sans-serif;
	font-weight: normal;

	display: block;
	position: relative;
	font-size: .9em;
	margin: 100px auto;
	color: $white;
	width: 90%;
	font-size: 18px;

	@include clearfix;

	#colophon {
		margin-top: 100px;
	}

	h2 {
		font-size: 20px;
		text-transform: uppercase;
	}

	ul,
	ol {
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			line-height: 1.5;
		}
	}

	a {
		color: $white;
	}

	#secondary {
		display: inline-block;
		float: left;
		margin-right: 18%;
		width: 40%;
	}

	#tertiary {
		display: inline-block;
		float: left;
		width: 40%;
	}

	input {
		color: $dark-gray;
	}

	button,
	input[type="submit"] {
		color: $dark-gray;
		background-color: $white;
		border: none;
		padding: .5em 1em;

		&:hover {
			background-color: $gray;
		}
	}
}
