#sidebar {
	font-weight: normal;
	display: block;
	position: relative;
	font-size: .9em;
	margin: 50px auto;
	width: 90%;

	@include clearfix;

	#colophon {
		margin-top: 100px;
	}

	h2 {
		font-size: 1.2em;
		text-transform: uppercase;
		padding-bottom: .7em;
	}

	ul,
	ol {
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			line-height: 1.5;
		}
	}

	input {
		color: $dark-gray;
	}

	button,
	input[type="submit"] {
		color: $dark-gray;
		background-color: $white;
		border: none;
		padding: .5em 1em;

		&:hover {
			background-color: $gray;
		}
	}
}
