/* =Tables
-------------------------------------------------------------- */

table {
	*border-collapse: collapsed;
	background-color: transparent;
	border-collapse: separate;
	border-left: 0;
	border-spacing: 0;
	margin: 30px 0;
	overflow: scroll;
	overflow-x: scroll;
	table-layout: fixed;
	width: 100%;

	th {
		font-weight: bold;
	}

	thead th {
		vertical-align: bottom;
	}
}

table th,
table td {
	border-top: 1px solid $border-gray;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
	border-top: 0;
}

table tbody + tbody {
	border-top: 2px solid $border-gray;
}

table caption + thead tr:first-child th,
table caption + tbody tr:first-child th,
table caption + tbody tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + tbody tr:first-child th,
table colgroup + tbody tr:first-child td,
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
	border-top: 0;
}

table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
	background-color: $background-gray;
}

table tbody tr:hover td,
table tbody tr:hover th {
	background-color: $background-gray;
}
