// Colors

// mixed
$yellow: #fff9c0;
$white: #fff;

// grayscale
$dark-gray: #373d3f;
$gray: lighten($dark-gray, 10%);
$light-gray: lighten($dark-gray, 20%);
$lighter-gray: lighten($dark-gray, 40%);

$border-gray: lighten($dark-gray, 60%);
$background-gray: lighten($dark-gray, 75%);

// blue
$blue: #5fa7c5;
$dark-blue: darken($blue, 35%);
$lighter-blue: lighten($blue, 35%);

// green
$green: #a0c55f;
$dark-green: darken($green, 35%);
$light-green: lighten($green, 35%);

// brown
$brown: #8c612f;
$dark-brown: darken($brown, 35%);
$light-brown: lighten($brown, 35%);

// Dimensions
$wide-width: 900px;
$default-width: $wide-width - 200px;
$margin: ($wide-width - $default-width) / 2;
