// Syndication Links
ul.relsyn {
	display: block;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		margin: 15px 8px 0 0;
		list-style-type: none;
		font-size: 1.2em;

		.svg-icon {
			width: 50px;
			height: 50px;
		}
	}
}

.kind .svg-icon {
	height: 20px;
	width: 20px;
	color: $light-gray;
	fill: currentColor;
	vertical-align: middle;
}

.has-full-width-featured-image .entry-header .kind .svg-icon {
	color: $white;
	fill: currentColor;
}
