// merriweather-300 - latin
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: normal;
	src: url('font/merriweather/merriweather-v15-latin-300.eot'); // IE9 Compat Modes
	src: local('Merriweather Light'), local('Merriweather-Light'),
			url('font/merriweather/merriweather-v15-latin-300.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('font/merriweather/merriweather-v15-latin-300.woff2') format('woff2'), // Super Modern Browsers
			url('font/merriweather/merriweather-v15-latin-300.woff') format('woff'), // Modern Browsers
			url('font/merriweather/merriweather-v15-latin-300.svg#Merriweather') format('svg'); // Legacy iOS
}

// merriweather-300italic - latin
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: normal;
	src: url('font/merriweather/merriweather-v15-latin-300italic.eot'); // IE9 Compat Modes
	src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'),
			url('font/merriweather/merriweather-v15-latin-300italic.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('font/merriweather/merriweather-v15-latin-300italic.woff2') format('woff2'), // Super Modern Browsers
			url('font/merriweather/merriweather-v15-latin-300italic.woff') format('woff'), // Modern Browsers
			url('font/merriweather/merriweather-v15-latin-300italic.svg#Merriweather') format('svg'); // Legacy iOS
}

// merriweather-700italic - latin
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: bold;
	src: url('font/merriweather/merriweather-v15-latin-700italic.eot'); // IE9 Compat Modes
	src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
			url('font/merriweather/merriweather-v15-latin-700italic.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('font/merriweather/merriweather-v15-latin-700italic.woff2') format('woff2'), // Super Modern Browsers
			url('font/merriweather/merriweather-v15-latin-700italic.woff') format('woff'), // Modern Browsers
			url('font/merriweather/merriweather-v15-latin-700italic.svg#Merriweather') format('svg'); // Legacy iOS
}
// merriweather-700 - latin
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: bold;
	src: url('font/merriweather/merriweather-v15-latin-700.eot'); // IE9 Compat Modes
	src: local('Merriweather Bold'), local('Merriweather-Bold'),
			url('font/merriweather/merriweather-v15-latin-700.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('font/merriweather/merriweather-v15-latin-700.woff2') format('woff2'), // Super Modern Browsers
			url('font/merriweather/merriweather-v15-latin-700.woff') format('woff'), // Modern Browsers
			url('font/merriweather/merriweather-v15-latin-700.svg#Merriweather') format('svg'); // Legacy iOS
}
