@import 'vars';
@import 'mixins';

#primary,
.site-navigation,
.site-header .site-branding,
.site-header .page-banner #page-description,
.site-header .page-banner #page-title,
#sidebar {
	width: $default-width;
}

#primary .post,
#primary .page {
	nav {
		background-color: #eee;
		max-width: $default-width / 2;
		margin-right: calc( 50% - 350px );
		float: right;
		padding: 10px;
		font-size: .8em;

		h1, h2, h3, h4 {
			margin-top: 0;
			padding-top: 0;
		}
	}
}

#sidebar {
	width: 100%;

	aside {
		margin: 50px 50px;
	}

	#secondary {
		display: inline-block;
		float: left;
		width: 50%;
	}

	#tertiary {
		display: inline-block;
		float: left;
		width: 50%;
	}

	#quaternary {
		display: inline-block;
		float: left;
		width: 50%;
	}
}
