@import 'vars';
@import 'mixins';

html {
	font-size: 1em;
}

#sidebar,
.site-header .site-branding,
.site-header .page-banner #page-description,
.site-header .page-banner #page-title,
.site-header .page-banner #page-meta,
.site-navigation,
.has-full-width-featured-image .entry-header .entry-header-wrapper > * {
	width: 90%;
}

.page-banner .avatar {
	width: 80px;
	height: 80px;
}

.page-branding.author #page-description {
	font-size: 1.2em;
}

.site-header .page-banner .page-branding.author #page-title {
	font-size: 2em;
}

.entry-content,
.entry-summary {
	p.has-background {
		padding: 30px 5%;
	}
}

.alignright,
.alignleft,
.wp-block-image .alignright,
.wp-block-image .alignleft {
	clear: both;
	margin: 1.2em auto;
}

.entry-content > *,
.entry-summary > *,
.entry-content > form,
.entry-content > div,
.entry-header,
.entry-footer,
.entry-reaction,
#comments,
#nav-above,
#nav-below,
.wp-block-quote.is-style-large {
	max-width: 90%;
	margin: 1.2em auto;
	box-sizing: border-box;
}

.entry-header .entry-title {
	font-size: 2.5em;
}

.site-header {
	.page-branding {
		font-size: .8em;
	}

	.search-field {
		width: 100px;
	}
}

.page-header {
	width: 100%;
}

#nav-below {
	.nav-previous {
		bottom: 20px;
		z-index: 1;
	}

	.nav-next {
		bottom: 20px;
		z-index: 1;
	}
}

.error404 .entry-content .widget,
#sidebar #secondary,
#sidebar #tertiary,
#sidebar #quaternary {
	width: 90%;
	clear: both;
}

#sidebar {
	aside {
		margin: 50px 0;
	}
}

#primary .post,
#primary .page {
	nav {
		background-color: #eee;
		padding: 10px;
		font-size: .8em;
		float: none;
		clear: both;
	}
}
