@import "vars";
@import "mixins";

#sidebar,
.site-navigation,
.site-header .site-branding,
.site-header .page-banner #page-title,
.site-header .page-banner #page-description,
.has-full-width-featured-image .entry-header .entry-header-wrapper > * {
	width: $wide-width;
}

.entry-content .wp-block-image.alignright,
.entry-content .wp-block-image.alignleft {
	width: $wide-width;
	max-width: $wide-width;
}

#sidebar {
	width: $wide-width + 400;
	max-width: 100%;

	aside {
		margin: 50px 50px;
	}

	#secondary {
		display: inline-block;
		float: left;
		width: 33%;
	}

	#tertiary {
		display: inline-block;
		float: left;
		width: 33%;
	}

	#quaternary {
		display: inline-block;
		float: left;
		width: 33%;
	}
}

.entry-content > span {
	display: inline-block;
}

.entry-content,
.entry-summary {
	> object,
	> embed,
	> iframe,
	> figure,
	.wp-block-pullquote {
		max-width: $wide-width;
		box-sizing: border-box;

		small,
		figcaption,
		cite {
			margin-right: $margin;
		}
	}
}

.entry-content,
.entry-summary {
	> table,
	> pre {
		width: $wide-width;
		max-width: $wide-width;
		box-sizing: border-box;
	}
}

.wp-audio-shortcode {
	width: $default-width !important;
}

figure {
	&.alignleft {
		float: left;
		margin-top: .3em;
		margin-right: 2em;
		margin-left: calc( 50% - 350px );
	}

	&.alignright {
		float: right;
		margin-top: .3em;
		margin-left: 2em;
		margin-right: calc( 50% - 350px );
	}
}

p {
	&.alignleft {
		font-size: .9em;
		font-style: italic;
		float: left;
		color: $light-gray;
		padding: 1em 0 1em 0;
		margin-right: 2.5em;
		margin-left: calc( 50% - 450px );
		width: 400px;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
	}

	&.alignright {
		font-size: .9em;
		font-style: italic;
		float: right;
		color: $light-gray;
		padding: 1em 0 1em 0;
		margin-left: 2.5em;
		margin-right: calc( 50% - 450px );
		width: 400px;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
	}
}

.alignright {
	figcaption {
		display: block;
		height: 68px;
		margin-top: 0px;
		text-align: left;
		width: $margin;
		margin-left: 20px;
		word-break: break-word;
		word-wrap: break-word;
		float: right;

		&:before {
			width: 25%;
			margin-right: 75%;
			border-top: 1px solid $light-gray;
			display: block;
			content: "";
			margin-bottom: 10px;
		}
	}
}

.alignleft {
	figcaption {
		display: block;
		height: 68px;
		margin-top: 0px;
		text-align: right;
		width: $margin;
		margin-right: 20px;
		word-break: break-word;
		word-wrap: break-word;
		float: left;

		&:before {
			width: 25%;
			margin-left: 75%;
			border-top: 1px solid $light-gray;
			display: block;
			content: "";
			margin-bottom: 10px;
		}
	}
}

article.error404 .entry-content {
	width: $wide-width;
	margin: auto auto;
}
