@import 'vars';
@import 'mixins';

html {
	font-size: 1em;
}

#primary,
#sidebar,
.site-header .site-branding,
.site-header .page-banner #page-description,
.site-header .page-banner #page-title,
.site-navigation {
	width: 90%;
}

.entry-header .entry-title {
	font-size: 2.5em;
}

.site-header {
	.page-branding {
		font-size: .8em;
	}

	.search-field {
		width: 100px;
	}
}

.page-header {
	width: 100%;
}

#nav-below {
	.nav-previous {
		bottom: 20px;
		z-index: 1;
	}

	.nav-next {
		bottom: 20px;
		z-index: 1;
	}
}

.error404 .entry-content .widget,
#sidebar #secondary,
#sidebar #tertiary,
#sidebar #quaternary {
	width: 90%;
	clear: both;
}

#sidebar {
	aside {
		margin: 50px 0;
	}
}

#primary .post,
#primary .page {
	nav {
		background-color: #eee;
		padding: 10px;
		font-size: .8em;
		float: none;
		clear: both;
	}
}
