@import 'vars';
@import 'mixins';

#primary {
	width: 100%;
}

#sidebar,
.site-navigation,
.site-header .site-branding,
.site-header .page-banner #page-title,
.site-header .page-banner #page-description {
	width: $wide-width;
}

#sidebar {
	width: 100%;

	aside {
		margin: 50px 50px;
	}

	#secondary {
		display: inline-block;
		float: left;
		width: 33%;
	}

	#tertiary {
		display: inline-block;
		float: left;
		width: 33%;
	}

	#quaternary {
		display: inline-block;
		float: left;
		width: 33%;
	}
}

.entry-content > *,
.entry-summary > *,
.entry-content > form,
.entry-content > div,
.entry-header,
.entry-footer,
#comments,
#nav-above,
#nav-below {
	max-width: $default-width;
	margin: 1.2em auto;
	box-sizing: border-box;
}

.entry-content > span {
	display: inline-block;
}

.entry-content,
.entry-summary {
	> object,
	> embed,
	> iframe,
	> figure {
		max-width: $wide-width;
		box-sizing: border-box;
	}
}

.entry-content,
.entry-summary {
	> table,
	> pre {
		width: $wide-width;
		max-width: $wide-width;
		box-sizing: border-box;
	}
}

.wp-audio-shortcode {
	width: $default-width !important;
}

.entry-content,
.entry-summary {
	.wp-block-cover-image,
	.alignfull {
		max-width: 100%;
		width: 100%;
	}

	.alignwide {
		width: auto;
		max-width: $wide-width;
	}
}

figure {
	&.alignleft {
		float: left;
		margin-top: .3em;
		margin-right: 1.2em;
		margin-left: calc( 50% - 350px );
	}

	&.alignright {
		float: right;
		margin-top: .3em;
		margin-left: 1.2em;
		margin-right: calc( 50% - 350px );
	}
}

p {
	&.alignleft {
		font-size: .9em;
		font-style: italic;
		float: left;
		color: $light-gray;
		padding: 1em 0 1em 0;
		margin-right: 2.5em;
		margin-left: calc( 50% - 450px );
		width: 400px;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
	}

	&.alignright {
		font-size: .9em;
		font-style: italic;
		float: right;
		color: $light-gray;
		padding: 1em 0 1em 0;
		margin-left: 2.5em;
		margin-right: calc( 50% - 450px );
		width: 400px;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
	}
}

.alignright {
	figcaption {
		display: block;
		height: 68px;
		right: -$margin;
		margin-top: 0px;
		position: absolute;
		text-align: left;
		top: 0px;
		width: $margin - 20;
		word-break: break-word;
		word-wrap: break-word;

		&:before {
			width: 25%;
			margin-right: 75%;
			border-top: 1px solid $light-gray;
			display: block;
			content: "";
			margin-bottom: 10px;
		}
	}
}

.alignleft {
	figcaption {
		display: block;
		height: 68px;
		left: -$margin;
		margin-top: 0px;
		position: absolute;
		text-align: right;
		top: 0px;
		width: $margin - 20;
		word-break: break-word;
		word-wrap: break-word;

		&:before {
			width: 25%;
			margin-left: 75%;
			border-top: 1px solid $light-gray;
			display: block;
			content: "";
			margin-bottom: 10px;
		}
	}
}

article.error404 .entry-content {
	width: $wide-width;
	margin: auto auto;
}
