.wp-block-preformatted {
	background-color: inherit;
	color: inherit;
	border: 1px solid $lighter-gray;
	border-color: var(--color-lighter-gray);
}

.wp-block-preformatted {
	background-color: inherit;
	color: inherit;
	border: 1px solid $lighter-gray;
	border-color: var(--color-lighter-gray);
}

.wp-block-columns .aligncenter {
	width: auto;
	display: block;
}

.wp-block-button.aligncenter {
	display: block;
	width: auto;
}

.wp-block-cover p:not(.has-text-color) {
	color: $white;
}

.entry-content .wp-block-cover {
	display: flex;
}
