input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {
	border: none;
	border: 1px solid $border-gray;
	border-color: var(--color-border-gray);
	border-radius: 5px;
	padding: .5em;

	&:focus {
		outline: 0;
	}
}

input,
textarea {
	max-width: 90%;
	background-color: $white;
	background-color: var(--color-white);
}

input[type="search"] {
	border: 1px solid $border-gray;
	border-color: var(--color-border-gray);
	border-radius: 50px;
	padding: 5px 15px;
	width: 80%;

	&:focus {
		outline: 0;
	}
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.wp-block-button a,
.wp-block-button__link,
.button {
	@include button;
}

a.button,
a.button:hover,
a.button:active {
	text-decoration: none;
}

.search-form {
	.search-submit {
		display: none;
	}
}

.wp-block-button {
	display: block;

	&.alignleft,
	&.alignright {
		clear: both;
		float: none;
	}

	a, a:hover {
		text-decoration: none;
	}
}
