.single,
.page {
	#primary .post,
	#primary .page {
		&.has-full-width-featured-image {
			margin-top: 0px;
		}
	}
}

.has-full-width-featured-image {
	.entry-header {
		margin: 0;
		width: 100%;
		max-width: 100%;
		position: relative;
		height: 75vh;
		max-height: 75%;
		min-height: 500px;
		margin-bottom: 50px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		.entry-title, .entry-meta, .entry-format {
			color: $white;

			a {
				color: $white;
			}
		}

		.entry-meta.post-format .entry-format::before {
			color: $white;
		}

		.entry-header-wrapper {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			margin-bottom: 50px;
		}

		.entry-header-wrapper > * {
			margin: 0 auto;
			width: $default-width;
		}

		.entry-header-wrapper .entry-meta {
			margin-top: 15px;
		}

		.avatar {
			border: 2px solid $white;
		}
	}
}

#primary .post:first-child,
#primary .page:first-child,
#primary .attachment:first-child {
	margin-top: 50px;
}

.home,
.archive {
	#primary .post,
	#primary .page {
		&:after {
			content: "";
			border-top: 1px solid $border-gray;
			width: 200px;
			display: block;
			text-align: center;
			margin: 0 auto;
			margin-top: 100px;
		}
	}
}

h1.entry-title,
h2.entry-title,
h3.entry-title,
h4.entry-title {
	margin: 0;
	padding: 0;
	/*font-size: 3.5em;*/
	font-size: 2em;
	line-height: 1.2em;

	a {
		hyphens: auto;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 1em;
		line-height: 1;
		text-decoration: none;
		color: $dark-gray;
		color: var(--color-dark-gray);

		&:hover {
			text-decoration: underline;
		}
	}
}

.type-page,
.format-standard {
	h1.entry-title,
	h2.entry-title,
	h3.entry-title,
	h4.entry-title {
		font-size: 3.5em;
	}
}

.entry-content,
.entry-summary {
	color: $dark-gray;
	color: var(--color-dark-gray);
	font-style: normal;
	line-height: 2;
	font-size: 1.1em;
	margin: 0 auto;

	.wp-block-cover-image,
	.alignfull {
		max-width: 100%;
		width: 100%;
	}

	.alignwide {
		width: auto;
		max-width: $wide-width;
	}

	p.has-background {
		width: 100%;
		max-width: 100%;
		padding: 30px calc( ( 100% - 700px ) / 2 );
		margin: 0;
	}

	a {
		text-decoration: underline;

		@supports(text-decoration: underline $android-green) {
			text-decoration: underline $android-green;
			text-decoration: underline var(--color-android-green);
			text-decoration-thickness: 3px;
			text-underline-offset: 6px;
		}

		&:hover {
			@supports(text-decoration: underline $android-green) {
				text-decoration: underline $usc-gold;
				text-decoration: underline var(--color-usc-gold);
				text-decoration-thickness: 3px;
				text-underline-offset: 6px;
			}
		}
	}
}

.entry-actions {
	display: block;

	@include clearfix;
}

#entry-share {
	display: inline-block;
	font-size: 1em;
	font-family: "Lato", sans-serif;
	background-color: $background-gray;
	background-color: var(--color-background-gray);
	border: none;
	border-radius: 3px;
	color: $dark-gray;
	color: var(--color-dark-gray);
	line-height: inherit;
	padding: 3px 7px;
	text-decoration: none;
	float: right;

	&:hover {
		background-color: $light-green;
		color: $dark-green;
	}

	&:before {
		display: inline-block;
		font: normal 1.1em "Dashicons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		margin-right: 0;
		position: relative;
		text-decoration: none;
		top: 2px;
		vertical-align: text-middle;
		margin-right: 5px;
		content: "ï‰‚";
	}
}

.page-link,
.page-links {
	margin-bottom: 1em;
}

.entry-meta,
.wp-caption-text,
.gallery-caption,
.page-link,
.page-links {
	font-family: "Lato", sans-serif;
	clear: both;
	color: $gray;
	color: var(--color-gray);
	display: block;

	a {
		color: $gray;
		color: var(--color-gray);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.avatar {
		float: left;
		margin-right: 10px;
	}
}

.entry-footer .author {
	@include clearfix;
}

.entry-meta {
	position: relative;

	margin-top: 15px;
	margin-bottom: 15px;

	&.post-format {
		padding: 0;
		margin: 0;
	}

	&.post-format a,
	&.post-format span,
	&.post-format .entry-format:before {
		color: $lighter-gray;
		color: var(--color-lighter-gray);
		font-weight: bold;
		text-transform: lowercase;
	}

	&.post-format .entry-format:before {
		display: inline-block;
		font: normal 1.1em "Dashicons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		isolation: isolate;
		margin-right: 5px;
		position: relative;
		text-decoration: none;
		top: 2px;
		vertical-align: text-middle;
		color: $lighter-gray;
		color: var(--color-lighter-gray);
	}

	.entry-format {
		line-height: 1;
	}

	address {
		font-size: 1em;
		line-height: 1.2;
		color: $dark-gray;
		color: var(--color-dark-gray);
	}

	.entry-date,
	.entry-duration {
		font-size: .8em;
	}
}

.comments-link {
	font-size: 1em;
	display: inline-block;

	&:before {
		display: inline-block;
		font: normal 1.1em "Dashicons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		margin-right: 0;
		position: relative;
		text-decoration: inherit;
		top: 2px;
		vertical-align: text-middle;
		margin-right: 5px;
		content: "\f101";
	}
}

.tag-links,
.cat-links {
	margin: 10px 0;
	display: block;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		margin: 10px 8px 0 0;
		list-style-type: none;
		font-size: 1.2em;

		@include label;

		a {
			font-size: 0.8em;
		}
	}
}

#primary .post,
#primary .page,
#primary .attachment {
	padding: 0;
	margin-top: 100px;
	position: relative;

	@include clearfix;

	.sep:first-of-type {
		display: none;
	}

	&.format-quote .post-format .entry-format:before {
		content: "\f122";
	}

	&.format-aside .post-format .entry-format:before {
		content: "\f123";
	}

	&.format-video .post-format .entry-format:before {
		content: "\f126";
	}

	&.format-audio .post-format .entry-format:before {
		content: "\f127";
	}

	&.format-image .post-format .entry-format:before,
	&.format-photo .post-format .entry-format:before {
		content: "\f128";
	}

	&.format-gallery .post-format .entry-format:before {
		content: "\f161";
	}

	&.format-link .post-format .entry-format:before {
		content: "\f103";
	}

	&.format-status .post-format .entry-format:before {
		content: "\f130";
	}

	&.format-standard .post-format .entry-format:before {
		content: "\f478";
	}

	&.type-page .post-format .entry-type-page:before {
		content: "\f105";
	}

	&.type-rssclub .post-format .entry-type-rssclub:before {
		content: "\f303";
	}
}

.edit-link {
	position: absolute;
	right: 0;
	top: 50px;

	@include label;
}

.more-link {
	display: block;
	font-size: .8em;
	color: $gray;
	color: var(--color-gray);
}

.entry-content {
	.has-orioles-orange-background-color {
		background-color: $orioles-orange;
	}

	.has-orioles-orange-color {
		color: $orioles-orange;
	}

	.has-blue-background-color {
		background-color: $blue;
	}

	.has-blue-color {
		color: $blue;
	}

	.has-lighter-blue-background-color {
		background-color: $lighter-blue;
	}

	.has-lighter-blue-color {
		color: $lighter-blue;
	}

	.has-blue-jeans-background-color {
		background-color: $blue-jeans;
	}

	.has-blue-jeans-color {
		color: $blue-jeans;
	}

	.has-usc-gold-background-color {
		background-color: $usc-gold;
	}

	.has-usc-gold-color {
		color: $usc-gold;
	}

	.has-gargoyle-gas-background-color {
		background-color: $gargoyle-gas;
	}

	.has-gargoyle-gas-color {
		color: $gargoyle-gas;
	}

	.has-yellow-background-color {
		background-color: $yellow;
	}

	.has-yellow-color {
		color: $yellow;
	}

	.has-android-green-background-color {
		background-color: $android-green;
	}

	.has-android-green-color {
		color: $android-green;
	}

	.has-white-background-color {
		background-color: $white;
		background-color: var(--color-white);
	}

	.has-white-color {
		color: $white;
		color: var(--color-white);
	}

	.has-very-light-gray-background-color {
		background-color: $very-light-gray;
	}

	.has-very-light-gray-color {
		color: $very-light-gray;
	}

	.has-very-dark-gray-background-color {
		background-color: $very-dark-gray;
	}

	.has-very-dark-gray-color {
		color: $very-dark-gray;
	}
}

.sticky {
	color: inherit;
	/** nothing special */
}
