// Colors

// grayscale
$dark-gray: #373d3f;
$gray: lighten($dark-gray, 10%);
$light-gray: lighten($dark-gray, 20%);
$lighter-gray: lighten($dark-gray, 50%);

$border-gray: lighten($dark-gray, 60%);
$background-gray: lighten($dark-gray, 75%);

// blue
$blue: #5fa7c5;
$dark-blue: darken($blue, 35%);
$light-blue: lighten($blue, 35%);

$blue-jeans: #5bc0eb;
$lighter-blue: #229fd8;

// green
$green: #a0c55f;
$dark-green: darken($green, 35%);
$light-green: lighten($green, 35%);

// brown
$brown: #8c612f;
$dark-brown: darken($brown, 35%);
$light-brown: lighten($brown, 35%);

// editor colors
$orioles-orange: #fa5b0f;
$usc-gold: #ffcc00;
$gargoyle-gas: #fde74c;
$yellow: #fff9c0;
$android-green: #9bc53d;
$white: #fff;
$very-light-gray: #eee;
$very-dark-gray: #444;

// Dimensions
$wide-width: 900px;
$default-width: $wide-width - 200px;
$margin: calc(($wide-width - $default-width) / 2);
