.entry-footer {
	@include clearfix;

	margin-top: 30px;

	.author {
		padding: 40px;
		margin: 70px auto;
		font-family: "Merriweather", serif;
		line-height: 1.5;
		min-height: 100px;
		box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
		background-color: rgba(0,0,0,.01);

		.fn, .note, .subscribe {
			margin-left: 140px;
			display: block;
		}

		.fn {
			font-size: 1.3em;
			margin-bottom: 10px;
		}

		.note {
			font-size: .9em;
			margin-bottom: 10px;
			color: $gray;
			color: var(--color-gray);
		}

		.subscribe {
			font-size: .8em;
			color: $light-gray;
			color: var(--color-light-gray);
			vertical-align: bottom;
		}
	}

	#share-options {
		clear: both;

		input[type="text"],
		input[type="url"],
		textarea {
			display: block;
			width: 95%;
		}

		input {
			display: block;
		}

		label {
			display: block;
			color: $gray;
			color: var(--color-gray);
		}
	}
}
