$font_path: "../../assets/font/";

@import "lato-font";
@import "merriweather-font";

@import "vars";
@import "mixins";

@import "normalize";

@import "base";

html {
	color: $dark-gray;
	font-size: 1em;
	line-height: 1.6;
	font-family: Merriweather, serif;
	font-weight: 100;
}

#page {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
	display: block;
}

.site-logo {
	float: left;
	padding-right: 10px;
	display: block;

	img {
		width: 45px;
		height: 45px;
		vertical-align: bottom;
	}
}

.site-header {
	display: block;

	&:after {
		content: "";
		border-top: 1px solid #d1d5d7;
		width: 200px;
		display: block;
		text-align: center;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

h1, h2, h3 {
	font-family: Lato, sans-serif;
}

.entry-meta, .site-meta {
	color: $lighter-gray;
	color: var(--color-lighter-gray);
}

.site-footer {
	text-align: center;

	&:before {
		content: "";
		border-top: 1px solid #d1d5d7;
		width: 200px;
		display: block;
		text-align: center;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

.site-meta {
	margin-top: 20px;
	text-align: center;
}

.site-subscribe {
	margin-top: 20px;
	text-align: center;

	&:after {
		content: "";
		border-top: 1px solid #d1d5d7;
		width: 200px;
		display: block;
		text-align: center;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	ul {
		margin: 0;
		padding: 0;
		display: inline-block;

		:first-child {
			margin-left: 30px;
		}
	}

	ul li {
		display: inline-block;
		margin-right: 30px;
	}
}
