/* lato-300 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('assets/font/lato/lato-v13-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Lato Light'), local('Lato-Light'),
			url('assets/font/lato/lato-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('assets/font/lato/lato-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
			url('assets/font/lato/lato-v13-latin-300.woff') format('woff'), /* Modern Browsers */
			url('assets/font/lato/lato-v13-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300italic - latin */
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: normal;
	font-display: swap;
	src: url('assets/font/lato/lato-v13-latin-300italic.eot'); /* IE9 Compat Modes */
	src: local('Lato Light Italic'), local('Lato-LightItalic'),
			url('assets/font/lato/lato-v13-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('assets/font/lato/lato-v13-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
			url('assets/font/lato/lato-v13-latin-300italic.woff') format('woff'), /* Modern Browsers */
			url('assets/font/lato/lato-v13-latin-300italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url('assets/font/lato/lato-v13-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Lato Bold'), local('Lato-Bold'),
			url('assets/font/lato/lato-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('assets/font/lato/lato-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
			url('assets/font/lato/lato-v13-latin-700.woff') format('woff'), /* Modern Browsers */
			url('assets/font/lato/lato-v13-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700italic - latin */
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: bold;
	font-display: swap;
	src: url('assets/font/lato/lato-v13-latin-700italic.eot'); /* IE9 Compat Modes */
	src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
			url('assets/font/lato/lato-v13-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('assets/font/lato/lato-v13-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
			url('assets/font/lato/lato-v13-latin-700italic.woff') format('woff'), /* Modern Browsers */
			url('assets/font/lato/lato-v13-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}
