<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main id="primary" class="wp-block-group">
	<!-- wp:query-title {"type":"archive","spacing":{"margin":{"bottom":"var:preset|spacing|50"}},"fontSize":"x-large"} /-->

	<!-- wp:term-description {"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}} /-->

	<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true}} -->
	<div class="wp-block-query">
		<!-- wp:post-template -->
			<!-- wp:autonomie/post-format {"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}} /-->

			<!-- wp:post-title {"isLink":true,"linkTarget":"_self"} /-->

			<!-- wp:template-part {"slug":"post-meta","className":"entry-meta"} /-->

			<!-- wp:post-featured-image {"isLink":true} /-->

			<!-- wp:post-content /-->

			<!-- wp:post-comments-link {"className":"post-reactions"} /-->
		<!-- /wp:post-template -->

		<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"center"}} -->
			<!-- wp:query-pagination-previous /-->
			<!-- wp:query-pagination-numbers /-->
			<!-- wp:query-pagination-next /-->
		<!-- /wp:query-pagination -->

		<!-- wp:query-no-results -->
			<!-- wp:paragraph {"align":"center"} -->
			<p class="has-text-align-center">No posts found. Please try another search.</p>
			<!-- /wp:paragraph -->

			<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search...","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true} /-->
		<!-- /wp:query-no-results -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
