<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"},"spacing":{"margin":{"top":"var:preset|spacing|60"}}} -->
<main id="primary" class="wp-block-group">
	<!-- wp:group {"tagName":"article","className":"type-page","layout":{"type":"default"}} -->
	<article class="wp-block-group type-page">
		<!-- wp:group {"tagName":"header","className":"entry-header","layout":{"type":"constrained"}} -->
		<header class="wp-block-group entry-header">
			<!-- wp:post-title {"level":1} /-->
		</header>
		<!-- /wp:group -->

		<!-- wp:post-featured-image {"align":"wide","spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}} /-->

		<!-- wp:post-content {"className":"entry-content","layout":{"type":"constrained"}} /-->
	</article>
	<!-- /wp:group -->

	<!-- wp:group {"className":"comments-area","layout":{"type":"constrained"},"spacing":{"margin":{"top":"var:preset|spacing|90"}}} -->
	<div class="wp-block-group comments-area">
		<!-- wp:template-part {"slug":"comments","className":"comments-template"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
