<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"default"}} -->
<main id="primary" class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
	<!-- wp:group {"tagName":"article","layout":{"type":"default"}} -->
	<article class="wp-block-group">
		<!-- wp:group {"tagName":"header","className":"entry-header","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
		<header class="wp-block-group entry-header">
			<!-- wp:post-title {"level":1} /-->

			<!-- wp:template-part {"slug":"post-meta","className":"entry-meta"} /-->
		</header>
		<!-- /wp:group -->

		<!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} /-->

		<!-- wp:post-content {"className":"entry-content e-content","layout":{"type":"constrained"}} /-->

		<!-- wp:group {"tagName":"footer","className":"entry-footer","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
		<footer class="wp-block-group entry-footer" style="margin-top:var(--wp--preset--spacing--50)">
			<!-- wp:post-terms {"term":"post_tag","prefix":"Tags: ","className":"tag-links","style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}}} /-->
		</footer>
		<!-- /wp:group -->
	</article>
	<!-- /wp:group -->

	<!-- wp:group {"className":"post-navigation","style":{"spacing":{"margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group post-navigation" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--80)">
		<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
		<div class="wp-block-group">
			<!-- wp:post-navigation-link {"type":"previous","showTitle":true,"linkLabel":true,"arrow":"arrow"} /-->
			<!-- wp:post-navigation-link {"type":"next","showTitle":true,"linkLabel":true,"arrow":"arrow"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"comments-area","style":{"spacing":{"margin":{"top":"var:preset|spacing|90"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group comments-area" style="margin-top:var(--wp--preset--spacing--90)">
		<!-- wp:template-part {"slug":"comments","className":"comments-template"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
