<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"spacing":{"margin":{"top":"var:preset|spacing|60"}}} -->
<main id="primary" class="wp-block-group">
	<!-- wp:group {"tagName":"article","className":"h-entry hentry format-status","layout":{"type":"constrained"}} -->
	<article class="wp-block-group h-entry hentry format-status">
		<!-- wp:template-part {"slug":"post-meta","className":"status-header"} /-->

		<!-- wp:post-content {"className":"entry-content e-content status-content","layout":{"type":"constrained"}} /-->

		<!-- wp:group {"tagName":"footer","className":"entry-footer","layout":{"type":"constrained"},"spacing":{"margin":{"top":"var:preset|spacing|50"}}} -->
		<footer class="wp-block-group entry-footer">
			<!-- wp:post-terms {"term":"post_tag","prefix":"Tags: ","className":"tag-links","spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}} /-->
		</footer>
		<!-- /wp:group -->

	</article>
	<!-- /wp:group -->

	<!-- wp:group {"className":"post-navigation","layout":{"type":"constrained"},"spacing":{"margin":{"top":"var:preset|spacing|55"}}} -->
	<div class="wp-block-group post-navigation">
		<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
		<div class="wp-block-group">
			<!-- wp:post-navigation-link {"type":"previous","showTitle":true,"linkLabel":true,"arrow":"arrow"} /-->
			<!-- wp:post-navigation-link {"type":"next","showTitle":true,"linkLabel":true,"arrow":"arrow"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"comments-area","layout":{"type":"constrained"},"spacing":{"margin":{"top":"var:preset|spacing|90"}}} -->
	<div class="wp-block-group comments-area">
		<!-- wp:post-comments /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
