body#tinymce.wp-editor {
  /* Alignment */
}
body#tinymce.wp-editor .alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
  margin-top: 0.3em;
}
body#tinymce.wp-editor .alignright {
  display: inline;
  float: right;
  margin-left: 1em;
  margin-top: 0.3em;
}
body#tinymce.wp-editor .aligncenter, body#tinymce.wp-editor .alignnone {
  clear: both;
  display: block;
  margin: 1em 0;
}
body#tinymce.wp-editor .gallery {
  padding: 1em 0;
}
